/* custom edge styles */
.react-flow__edge-custom foreignObject  {
  display: none;
}
.react-flow__edge-custom.selected foreignObject.for-input  {
  display: block;
}
.react-flow__edge-custom:not(.selected) foreignObject.for-display  {
  display: block;
  overflow: visible;
}
.react-flow__edge-custom:not(.selected) foreignObject.for-display .label-display {
  width: 200px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  transform: translateX(-80px);
  pointer-events: none;
}

.react-flow__edge-custom .label-input  {
  box-sizing: border-box; 
  border: 1px solid transparent;
  background: transparent;
  outline: none;
  width: 100%; 
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
