.dialog-modal {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  width: 50%;
  height: 75%;
  padding: 0;
  overflow: auto;
  background-color: #f6f6f6;
}

.dialog-modal .btn-close {
  position: absolute;
  right: 0;
  z-index: 1;
}

.dialog-modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}